@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: black;
    color: white;

    text-align: center;

    padding: 50px;
    min-height: 10vh;

}

header > h1 {
    font-family: "Passion One", sans-serif;
    font-size: 10vw;
    font-variant: small-caps;
}

header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

header a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

main {

}

main p {
    font-family: "Sriracha", cursive;
    margin: 15px 0px;
    font-size: 3.2vw;
    padding-bottom: 30px;
    padding-left: 5px;
}

section {
    padding: 60px 40px;
}

section.texto {

}

section.imagem {
    color: white;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.452);
    display: inline-block;
    padding: 5px;
}

#img1 {
    background-image: url('imagens/background001.jpg');
}

#img2 {
    background-image: url('imagens/background002.jpg');
}

footer {
    background-color: black;
    color: white;
    padding: 10px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}