body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1D1D1D;
    color: white;
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto 20px;
}

.link {
    display: block;
    margin-bottom: 20px;
    color: #C0C0C0;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}